@import "node_modules/modern-normalize/modern-normalize.css";
body {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: black;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0px;
}
.line {
  border-bottom: 1px solid #ececec;
}
.text--center {
  text-align: center;
}
.page--active {
  position: relative;
}
.page--active::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #2196f3;
  top: 43.8px;
  width: 100%;
  bottom: -30.8px;
  border-radius: 2px;
}
.div-block {
  display: block;
}

/*--------------- navigation bar / header ---------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.logo--primary {
  color: black;
}
.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__items {
  display: flex;
  margin-left: 93px;
}
.navbar__item {
  position: relative;
}
.navbar__item:not(:first-child) {
  margin-left: 46px;
}
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.03em;
}
.navbar__content:not(.logo--primary),
.contact {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}
.contacts,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email {
}
.tel {
  margin-left: 50px;
}

.logo-design--color {
  color: #2196f3;
}
.link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.contacts .contact:is(:hover, :focus) {
  color: #2196f3;
  fill: #2196f3;
}

/*--------------- index.html - main ---------------*/

.post-header {
  margin: 0 auto;
  max-width: 1600px;
  background: linear-gradient(#2f303a66, #2f303a66),
    url("../images/order-service/order-service--background.jpg");
}
.post-header.section {
  padding: 200px 0;
}
.post-header .heading {
  color: white;
  line-height: 1.364;
  font-size: 44px;
  font-weight: 900;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}
.button_order-service {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_order-service:hover {
  background-color: #1b73bb;
}
.button_order-service:active {
  background-color: #1663a3;
}
.our-skills.section {
  padding-bottom: 0;
  gap: 30px;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.icon--background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.our-skills__icon {
  margin: 30px 100px;
}
.skill__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: #212121;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.skill__description {
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
  letter-spacing: 0.03em;
}
.about-us__item {
  position: relative;
}
.about-us__inside-block {
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  height: 70px;
  width: 100%;
  bottom: 0;
}
.about-us__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-team__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-team__item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__item .name {
  margin: 30px 0 10px 0;
}
.our-team__item .specialization {
  margin: 10px 0 16px 0;
}

.our-team.section {
  background-color: #f5f4fa;
}
.about-us__heading,
.our-team__heading {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  margin-bottom: 50px;
}
.our-team .name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
}
.our-team .specialization {
  color: #757575;
  font-size: 16px;
  line-height: 1.189;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.social-links__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover {
  fill: white;
  background-color: #2196f3;
}
.our-customers__heading {
  margin-bottom: 50px;
  color: #212121;
  line-height: 1.167;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.our-customers__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.our-customers__link {
  display: flex;
  fill: #afb1b8;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__link:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

/*--------------- portfolio.html ---------------*/

.button-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
button:not(:last-child) {
  margin-right: 8px;
}
.button {
  padding: 0;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  height: 38px;
  width: 121px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:is(:hover, :focus) {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
.filter-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.filter-result {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.extra-info--blue {
  pointer-events: none;
  position: absolute;

  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;

  width: 370px;
  height: 294px;

  padding: 49px 45px 49px 24px;
  inset: 0;

  background-color: #2196f3e5;
  color: white;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overflow {
  position: relative;
  overflow: hidden;
}
.filter-result:hover .extra-info--blue {
  transform: translateY(0);
  overflow: visible;
}
.filter-result:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.picture__info {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.picture__heading {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.picture__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/*--------------- footer ---------------*/

.footer {
  background-color: #2f303a;
  color: white;
}
.footer__items {
  display: flex;
  align-items: baseline;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__item:first-child {
  margin-right: 70px;
}
.footer__logo {
  display: block;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
.address {
  line-height: 1.5rem;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.address__link {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover {
  color: #2196f3;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.street {
  color: white;
}
.footer.section {
  padding: 60px 0;
}
.join-us {
  margin-right: 78px;
}
.form__headings {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
}
.join-us__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.footer .social-links__link {
  fill: white;
  background: #ffffff1a;
}
.footer .social-links__link:hover {
  fill: white;
  background: #2196f3;
}
.newsletter__input {
  background-color: #2196f300;
  color: white;
  outline: none;
  padding: 15px;
  width: 358px;

  border: 1px solid #ffffff4d;
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px #00000026;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__input::placeholder {
  color: #ffffff99;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.newsletter__input:focus {
  border-color: #2196f3;
}
.sign-up__button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;

  background-color: #2196f3;
  color: white;

  padding: 10px 28px 10px 42px;
  width: 200px;
  height: 50px;

  white-space: nowrap;

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px #00000026;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sign-up__button:hover {
  background-color: #1b73bb;
}
.sign-up__button:active {
  background-color: #1663a3;
}
.newsletter__form {
  display: flex;
  gap: 12px;
}

/*--------------- modal window ---------------*/

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* -------------- !!! ANIMATE SECTION !!! -------------- */
.is-hidden .modal {
  border-radius: 200px;
  transform: translateY(-100%);
  scale: 0.5;
}
.is-hidden .input-heading.name,
.is-hidden .input-heading.telephone,
.is-hidden .input-heading.email,
.is-hidden .input-heading.text,
.is-hidden .animate-inputs__container.name,
.is-hidden .animate-inputs__container.telephone,
.is-hidden .animate-inputs__container.email,
.is-hidden .animate-inputs__container.text,
.is-hidden .rules-acceptation,
.is-hidden .submit__button,
.is-hidden .form_heading,
.is-hidden .comment-section::placeholder {
  opacity: 0;
  visibility: 0;
  transform: translateY(-150%);
}

.form__transitions {
  transition: transform 800ms ease, opacity 1000ms ease;
}
.input-heading.name {
  transition-delay: 0.2s, 0.2s;
}
.input-heading.telephone {
  transition-delay: 0.3s, 0.3s;
}
.input-heading.email {
  transition-delay: 0.4s, 0.4s;
}
.input-heading.text {
  transition-delay: 0.5s, 0.5s;
}
/* - */
.animate-inputs__container.name {
  transition-delay: 0.2s, 0.2s;
}
.animate-inputs__container.telephone {
  transition-delay: 0.3s, 0.3s;
}
.animate-inputs__container.email {
  transition-delay: 0.4s, 0.4s;
}
.animate-inputs__container.text {
  transition-delay: 0.45s, 0.45s;
}
/* -------------- !!! ANIMATE SECTION - END !!! -------------- */
.backdrop {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  width: 100%;
  height: 100%;

  background-color: #00000033;

  transition: visibility 400ms ease-in, opacity 200ms ease;
}
.modal {
  position: relative;

  width: 528px;
  height: 581px;

  background-color: white;
  border-radius: 4px;

  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;

  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    scale 400ms ease-in-out, border-radius 400ms ease;
}
.modal__button--close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  border: 1px solid #0000001a;
  border-radius: 50%;

  background-color: white;
  color: black;

  cursor: pointer;
}
.modal__svg--close {
  fill: black;
}

/*--------------- modal window - content ---------------*/

.form_contact {
  padding: 40px;
}
.form_heading {
  color: #212121;
  text-align: center;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;

  transition: transform 800ms ease 0.2s, opacity 1000ms ease 0.2s;
}
.modal__svg--icon {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}
.text-input {
  display: block;
  width: 100%;
  height: 40px;

  padding: 10px 0 10px 42px;
  margin-bottom: 10px;

  border: 1px solid #21212133;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.text-input:focus + .modal__svg--icon,
.text-input:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
.input-heading {
  display: block;
  color: #757575;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.comment-section {
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  resize: none;
}
.comment-section::placeholder {
  color: #75757580;

  transition: transform 1000ms ease, opacity 1000ms ease;
}
.rules-checkbox {
  appearance: none;
}
.rules-checkbox::before {
  content: "";
  display: block;
  cursor: pointer;

  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
}
.rules-checkbox:checked.rules-checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='34' height='32' viewBox='0 0 34 32'%3E%3Ctitle%3Eicon-check%3C/title%3E%3Cpath fill='%232196f3' d='M4.267 0h25.6c2.356 0 4.267 1.91 4.267 4.267v23.467c0 2.356-1.91 4.267-4.267 4.267h-25.6c-2.356 0-4.267-1.91-4.267-4.267v-23.467c0-2.356 1.91-4.267 4.267-4.267z'%3E%3C/path%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.4267' d='M8.442 16.537l-0.147-0.14-2.205 2.088 7.767 7.41 16.318-15.567-2.19-2.089-14.128 13.465-5.416-5.167z'%3E%3C/path%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
.rules-acceptation {
  color: #757575;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  transition-delay: 0.65s, 0.65s;
}
.rules-acceptation--label {
  cursor: pointer;
}
.rules-acceptation__link {
  color: #2196f3;
}
.submit__button {
  display: block;
  margin: 0 auto;

  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: #2196f3;
  color: white;

  padding: 10px 76px;

  border-radius: 4px;
  border: none;

  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000026;

  transition-delay: 0.7s, 0.7s;
}
.form__container {
  position: relative;
}
