.navbar__list {
  display: flex;
  margin-left: 93px;
}
.navbar__item {
  position: relative;
}
.navbar__item:not(:first-child) {
  margin-left: 46px;
}
.navbar__content {
  text-decoration: none;
  color: var(--color-blackish);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}
